body {
    margin: 0px;
    padding: 0px;
    background: #e96443;
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    background: linear-gradient(to right, #904e95, #e96443);
    background: rgba(78, 101, 85, 0.6);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

body main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    max-width: 480px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.header>header {
    position: absolute;
    top: 0px;
    width: 90%;
    margin-top: 5px;
    height: 40px;
    padding: 10px 0px 5px 0px;
    background-color: rgba(41, 103, 56, .5);
    border-radius: 6px;
    font-size: 1em;
    z-index: 100;
}

.formulario {
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    width: 100%;
}

.formulario section {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #FFFFFF;
}

.formulario .barrio,
.formulario .botonForm {
    position: relative;
}

.formulario .form-control {
    height: 35px;
    width: 210px;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
}

.formulario #botonMapa {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 55px;
    height: 35px;
    border-radius: 4px;
    padding-top: 4px;
    background-color: rgb(70, 96, 164);
    cursor: pointer;
    color: white;
    outline: none;
    box-shadow: 2px 2px 10px gray;
}

.formulario #botonMapa ion-icon {
    font-size: 1.5em;
}

.formulario #botonMapa:active {
    transform: scale(.95);
}

body .main {
    height: 100%;
    width: 100%;
    z-index: -15;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#mapa {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapSave {
    position: fixed;
    right: 25px;
    bottom: 18px;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    height: auto;
}

.mapSave:before {
    content: "\f1d3";
    font-family: "Ionicons";
    font-size: 1.2em;
    position: relative;
    border-radius: 50px;
    padding: 2px 4px;
    top: 5px;
    left: 70%;
}

.mapSave:after {
    content: attr(data-count);
    position: absolute;
    color: beige;
    font-size: .4em;
    top: 20px;
    left: 104%;
}

.mapSave .ul {
    position: relative;
    width: 100%;
    height: 100%;
}

.mapSave ion-icon {
    cursor: pointer;
    z-index: 100;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(68, 155, 232, 0.8);
}

.listaTareas {
    position: absolute;
    top: 80px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgba(78, 101, 85, 0.8);
    transition-duration: .4s;
    z-index: 10;
    overflow: scroll;
}

.listaTareas footer {
    position: relative;
    width: 100%;
    height: 110px;
    background: transparent;
    /* background: orange; */
    bottom: 0px;
    z-index: -20;
}

.listaTareas .cerrarLista {
    position: relative;
    top: 0px;
    width: 40%;
    margin-left: 30%;
    height: 30px;
    padding-top: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.listaTareas .arrow {
    width: 22px;
    height: 22px;
    border-left: 5px solid rgb(242, 224, 224);
    border-bottom: 5px solid rgb(242, 224, 224);
    margin-left: 25px;
    border-radius: 5px;
    transform: rotate(-45deg) translateY(-12px);
}

.listaTareas ul {
    position: relative;
    list-style: none;
    margin: 0px;
    width: 98%;
    margin-left: -38px;
}

.listaTareas ul li:last-child {
    margin-bottom: 40px;
}

.listaTareas ul li {
    position: relative;
    height: 100%;
}

.listaTareas ul li .link,
.listaTareas .noList {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    margin-top: 5px;
    border-radius: 8px;
    padding: 0px 0px;
    background-color: rgb(75, 91, 136);
    /* background: linear-gradient(to top, rgb(100, 114, 150) 30%, rgb(56, 103, 88) 100%); */
    cursor: pointer;
    vertical-align: text-bottom;
    /* animation: .6s mostrar 1; */
}

.listaTareas .noList {
    display: none;
    background-color: rgb(29, 77, 43);
    font-size: 1.2em;
}

.listaTareas .noList p {
    margin: 12px;
    color: wheat;
}

.listaTareas ul li .link .name {
    width: 60%;
    color: whitesmoke;
}

.listaTareas ul li .link .barrio {
    width: 25%;
    margin-top: 5px;
    color: whitesmoke;
}

.listaTareas ul li .link .cerrar {
    width: 15%;
    font-size: 1.6em;
    padding-top: 8px;
    color: rgb(196, 182, 182);
}

ul li:before {
    content: attr(data-mets);
    position: absolute;
    color: rgb(101, 235, 233);
    font-size: .8em;
    top: 4px;
    right: 80px;
    z-index: 400;
}

.posicionGps {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 20px;
    bottom: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.posicionGps ion-icon {
    font-size: 1.5em;
    margin-top: 2px;
    margin-left: 2px;
    transform: rotate(45deg);
}

.label {
    box-sizing: border-box;
    background: #05F24C;
    box-shadow: 2px 2px 4px #333;
    border: 5px solid #346FF7;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

@media screen and (min-width: 480px) {
    .header {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 100;
    }
    .header>header {
        position: absolute;
        width: 480px;
        top: 0px;
    }
}


/* caja icono mapa  */

.infoPark {
    width: 99%;
    padding: 1em 1em 1.4em .2em;
    height: auto;
    text-align: center;
}

.infoPark .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.infoPark p {
    font-size: 1.2em;
    font-weight: bold;
}

.infoPark .buttons .divBtnInfo {
    position: relative;
    display: block;
    text-align: center;
}

.infoPark .buttons .divBtnMap {
    position: relative;
    display: block;
    text-align: center;
}

.infoPark #btnInfo {
    padding: .2em .8em;
    height: 35px;
    margin: 20px 0px;
    background-color: RGB(51, 117, 71);
    border-radius: 15px;
    color: azure;
    outline: none;
}

.infoPark #btnMap {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    border-radius: 10px;
    outline: none;
    background-image: url('../img/icon-google.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.infoPark #btnInfo:before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 12%;
    width: 80%;
    height: 10px;
    background: -webkit-radial-gradient( center, rgb(164, 160, 160) 0%, rgb(250, 250, 248) 60%);
}


/* Animaciones */

.animated {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}